$color-white: #fff;
$color-black: #565656;
$color-light-black: #707070;
$color-pink: #eb848f;

$fw-light: 200;
$fw-semilight: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$fs-large: 1.75rem; // 25px
$fs-medium: 1.25rem; // 20px
$fs-regular: 1.125rem; // 18px
